a {
  transition: all 0.2s;
}

a:hover {
  color: var(--color-primary);
  opacity: 75%;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}
.bg-secondary {
  background-color: var(--color-secondary) !important;
}
.bg-gray {
  background-color: var(--color-gray);
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-gray {
  color: var(--color-dark-gray);
  transition: all 0.2s;
}
.text-btn.text-gray:hover {
  color: var(--color-black);
}

.text-danger-sub {
  color: var(--color-danger-sub);
  transition: all 0.2s;
}
.text-danger-sub:hover {
  color: var(--bs-danger);
}

.btn {
  border: 0;
  transition: all 0.2s;
}
.btn:hover {
  border: 0;
}
.btn:active {
  border: 0;
}
.btn:disabled {
  background-color: var(--color-gray);
  color: var(--color-dark-gray);
}

.btn-primary {
  color: #fff;
  background: var(--color-primary);
}
.btn-primary:hover {
  background: var(--color-primary);
  opacity: 80%;
}
.btn-primary:active {
  background: var(--color-primary) !important;
  opacity: 100% !important;
}

.btn-secondary {
  background: var(--color-secondary) !important;
  color: #fff;
}
.btn-secondary:hover {
  background: var(--color-secondary-hover) !important;
}

.btn-gray {
  color: var(--color-black);
  background: var(--color-gray);
}
.btn-gray:hover {
  background: rgba(0, 0, 0, 0.1);
}

.btn-dark-gray {
  background: var(--color-dark-gray);
  color: #fff;
  transition: all 0.2s;
}
.btn-dark-gray:hover {
  background: var(--color-black);
  color: #fff;
}

.btn-danger-sub {
  background-color: #ffdbdf;
  color: red;
  transition: all 0.2s;
}
.btn-danger-sub:hover {
  background-color: var(--bs-danger);
  color: #ffdbdf;
  transition: all 0.2s;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
}

.accordion-button {
  width: fit-content;
}

.img-detail {
  width: 5rem;
  height: min-content;
  border-radius: 0.25rem;
}

.cursor-pointer {
  cursor: pointer;
}

/* Components */
.card-menu-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

/* Components */
.card-menu-container-user {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media only screen and (max-width: 767px) {
  .card-menu-container-user {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

.card-menu-makanan {
  overflow: hidden;
  border-radius: 1rem;
}
